
body{
  background-image: url("https://wallpaperscraft.com/image/newspaper_ball_glass_silver_black_white_4338_1920x1080.jpg");
  width: 100%;
  background-repeat: no-repeat;
}

.jumbo{
  background-color: #272621;
  color: white;
}

h2.text-center{
  color: #541c17;
}

em{
  color: #541c17;
  }
